html {
    font-size: 10px;
}
body {
    font-family: 'Lato-regular', sans-serif;
    margin: 0 auto;
    color: #848484;
    background-color: #FFFFFF;
    height: 100%;
    width: 100%;
    font-size: 1.2rem;
    padding: 140px 0 0 0;
}
body * {
    box-sizing: border-box;
}
.holder::after {
    content: "";
    clear: both;
    display: block;
}
header {
    padding: 20px 0 30px 0;
    position: fixed;
    width: 100%;
    height: 120px;
    background-color: #4c5c69;
    top:0;
}
.wrapper{
    width: 978px;
    margin: 0 auto;
}
.nav-bar {
    float: right;
    margin-right: 5px;
}
.mobile-list, #menuToggler{
    display: none;
}
.nav-bar ul li {
    font-family: 'Lato-regular', sans-serif;
    font-size: 1.8rem;
    display: inline-block;
    line-height: 50px;
    position: relative;
}
.nav-bar ul li a {
    text-decoration: none;
    color: #FFFFFF;
    padding: 3px 20px 6px;
    transition: all 1s ease;
}
.nav-bar ul li a:hover {
    border-bottom: 2px solid #2f3942;
    text-decoration: none;
}

.nav-bar ul li:hover ul.drop-down{
    display: block;
}
.nav-bar ul li .drop-down li a{
    font-size: 1.5rem;
    padding: 12px 6px;
}
.nav-bar ul li .drop-down li a:hover{
    background-color: transparent;
    color: #323332;
}
.content-holder{
    width: 978px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
}
.content{
    padding-bottom: 50px;
    border-bottom: 1px solid #e8e8e8;

}
.content img{
    margin: 2px 0 0 17px;
    border: 1px solid #f2f2f2;
    padding: 3px;
    box-shadow: 1px 1px 1px 2px #d9d9d9;

}
.content a{
   color:  #297e39;
    font-size: 2rem;
    margin-right: 5px;
}
h1{
    color:#4c5b66;
    font-size: 2rem;
    font-weight: normal;
}
.article-holder{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 20px;
    padding-bottom: 50px;
}

.article-holder .blog article h2{
    font-size: 2.2rem;
    font-weight: normal;
    margin: 0 0 12px 0;
}
.article-holder article div{
    font-size: 1.1rem;
    padding-bottom: 12px;
    color:#b0b0b0;

}
.article-holder .blog article p{
    font-size: 1.2rem;
}
.image-blog{
    margin-right: 20px;
    margin-top: 20px;
    float: left;
    border: 1px solid #f2f2f2;
    padding: 3px;
    box-shadow: 1px 1px 1px 2px #d9d9d9;

}
.article-holder .blog article h4{
    line-height: 0;
    margin-top: 26px;
    font-size: 15px;
    color: #5c5c5c;
}
.article-holder article p{
    font-size: 13px;
    color:#888888;
}

.article-holder .blog a{
    color:  #e29f49;
    font-size: 2rem;
    margin-right: 5px;
}
.article-holder .blog{
    width: 50%;
}
.article-holder .tweet{
    padding-left: 100px;
    width: 50%;

}
.article-holder .tweet a{
    color:  #386bb1;
    font-size: 2rem;
    margin-right: 5px;
}
footer{
    border-top:1px solid #e8e8e8;
    color: #8a8a8a;
    font-family: "Lato regular", sans-serif;
    font-size: 1.3rem;
    text-align:left;
    padding: 24px 25px;
}
.footer-holder{
    position: relative;
    margin: 20px 0 20px 0;
}
footer address{
    font-style: normal;
    font-weight: normal;
}
footer .social{
    position: absolute;
    right: 0;
    top: -5px;
}
.social a{
    font-size: 3.4rem;
    display: inline-block;
    margin-left: 6px;
}
.article-holder .blog .ssilka, .article-holder .tweet .ssilka{
    font-size: 1.2rem;
    text-decoration: none;
    color:#3f97d3;
}
/* Responsive Start 
@media screen and (max-width: 970px)
    h1 {
        font-size: 2.6rem
    }
    .wrapper{
        width: 100%;
        padding: 0 1rem;
    }
    .article-holder.blog {
        width: 100%;
        flex-direction: column;
        padding-bottom: 50px;
        border-bottom: 1px solid #e8e8e8;
    }
    .article-holder.tweet{
        width: 100%;
        padding: 0 0 34px 0;
}

    .nav-bar{
        position: relative;
    }
    .nav-bar ul, .nav-bar ul li > ul{
        display: none !important;
    }
    .mobile-list{
        display: inline-block;
        font-size: 4.8rem;
        color: #FFFFFF;
        cursor: pointer;
        margin: 3px 18px 0 0;
    }
    #menuToggler:checked + ul{
        display: flex !important;
        position: absolute;
        flex-direction: column;
        left: -40px;
        top: 51px;
        background-color: #FFFFFF;
        padding: 12px;
        border: 1px solid #cccccc;
    }
    #menuToggler:checked + ul li{
        padding: 6px 0;
        line-height: normal;
    }
    #menuToggler:checked + ul li a{
        background-color: black;
        padding: 0;
        transition: none;
    }
    #menuToggler:checked + ul li a:hover{
        color: #000000;
        background-color: transparent;
    }
    @media screen and (max-width: 505px){
        .content-holder{
            text-align: center;
            flex-direction: column;
        }
        .article-holder.blog, .article-holder.tweet, footer {
            text-align: center;
        }
        .article-holder .blog article img {
            float: none;
        }
        .social a{
            font-size: 2.4rem;
        }
        footer .social {
            margin-top:10px;
        position: relative;
        }

    }

    */

